.content__wrapper {
  width: 76.88%;
  margin: 0 auto;
}

@media (max-width: 980px) {
  .content__wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .content__wrapper {
    width: 100%;
  }
}

@media (max-width: 544px) {
  .content__wrapper {
    width: 100%;
  }
}
