.copyright {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  margin: 0;
  padding: 0 0 24px 0;
}

/* Media Query for 1024px and below */
@media (max-width: 1024px) {
  .copyright {
    padding: 88px 0 24px 0;
  }
}

/* Media Query for 544px and below */
@media (max-width: 544px) {
  .copyright {
    padding: 64px 0 24px 0;
  }
}
