.gallery {
  margin-top: 118px;
  display: flex;
  justify-content: center;
}

.gallery__list {
  width: 92.5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery__image {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .gallery {
    margin-top: 64px;
  }

  .gallery__list {
    width: 93.75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 544px) {
  .gallery {
    margin-top: 38px;
  }

  .gallery__list {
    width: 93.75%;
    display: grid;
    grid-template-columns: 100%;
  }
}
