@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/main.css);
@import url(../blocks/lead.css);
@import url(../blocks/intro.css);
@import url(../blocks/copyright.css);

/* Media Query for 1024px and below */
@media (max-width: 1024px) {
  .header__logo {
    width: 254px;
    padding: 34px 0 88px 0;
  }

  .main {
    width: 100%;
  }

  .lead__title {
    width: 95.5%;
    font-size: 48px;
    line-height: 1.1;
    margin: 0 auto 20px auto;
  }

  .lead__description {
    width: 95.5%;
    font-size: 20px;
    line-height: 1.4;
    margin: 0 auto 40px auto;
  }

  .lead__image {
    width: 100%;
  }

  .intro {
    width: 95.5%;
    margin: 60px auto 0 auto;
  }

  .intro__title {
    font-size: 36px;
    line-height: 1.1;
    margin: 0 0 20px 0;
  }

  .intro__quote,
  .intro__quote-author {
    font-size: 18px;
    line-height: 24px;
  }

  .intro__article {
    font-size: 14px;
    line-height: 1.3;
  }

  .copyright {
    padding: 88px 0 24px 0;
  }
}

/* Media Query for 544px and below */
@media (max-width: 544px) {
  .header__logo {
    width: 188px;
    padding: 34px 0 50px 0;
  }

  .main {
    width: 100%;
  }

  .lead__title {
    width: 100%;
    font-size: 32px;
    line-height: 1.1;
    margin: 0 auto 10px auto;
  }

  .lead__description {
    width: 100%;
    font-size: 16px;
    line-height: 1.3;
    margin: 0 auto 20px auto;
  }

  .lead__image {
    width: 100%;
  }

  .intro {
    width: 97%;
    margin-top: 40px;
    padding: 0 5px;
  }

  .intro__title {
    font-size: 24px;
    line-height: 1.1;
    margin: 0 0 10px 0;
  }

  .intro__container {
    width: 100%;
  }

  .intro__quote,
  .intro__quote-author {
    font-size: 14px;
    line-height: 1.4;
  }

  .intro__article {
    font-size: 12px;
    line-height: 1.5;
  }

  .copyright {
    padding: 64px 0 24px 0;
  }
}
